################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApp/FileContentIndex
/.vs/WebApp/bin
/.vs/WebApp/obj
